html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%
}

body {
    margin: 0
}

main {
    display: block
}

h1 {
    font-size: 2em;
    margin: .67em 0
}

hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible
}

pre {
    font-family: monospace, monospace;
    font-size: 1em
}

a {
    background-color: transparent
}

abbr[title] {
    border-bottom: none;
    text-decoration: underline;
    -webkit-text-decoration: underline dotted;
    text-decoration: underline dotted
}

b,
strong {
    font-weight: bolder
}

code,
kbd,
samp {
    font-family: monospace, monospace;
    font-size: 1em
}

small {
    font-size: 80%
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline
}

sub {
    bottom: -.25em
}

sup {
    top: -.5em
}

img {
    border-style: none
}

button,
input,
optgroup,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0
}

button,
input {
    overflow: visible
}

button,
select {
    text-transform: none
}

[type=button],
[type=reset],
[type=submit],
button {
    -webkit-appearance: button
}

[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner,
button::-moz-focus-inner {
    border-style: none;
    padding: 0
}

[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring,
button:-moz-focusring {
    outline: 1px dotted ButtonText
}

fieldset {
    padding: .35em .75em .625em
}

legend {
    box-sizing: border-box;
    color: inherit;
    display: table;
    max-width: 100%;
    padding: 0;
    white-space: normal
}

progress {
    vertical-align: baseline
}

textarea {
    overflow: auto
}

[type=checkbox],
[type=radio] {
    box-sizing: border-box;
    padding: 0
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
    height: auto
}

[type=search] {
    -webkit-appearance: textfield;
    outline-offset: -2px
}

[type=search]::-webkit-search-decoration {
    -webkit-appearance: none
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit
}

details {
    display: block
}

summary {
    display: list-item
}

[hidden],
template {
    display: none
}

:root {
    --font-size: 12px;
    --ru: 1.5;
    --font-body: "EB Garamond", serif;
    --font-secondary: system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    --page-margin: calc(2rem*var(--ru));
    --page-margin-mid: calc(3rem*var(--ru));
    --bg-h: 0;
    --bg-s: 100%;
    --bg-l: 98%;
    --color-bg: #EDDBC2;
    --color-bg-fade: hsla(var(--bg-h), var(--bg-s), var(--bg-l), 0.9);
    --color-text: #3e3e3e;
    --color-text-fade: rgba(62, 62, 62, 0.53333);
    --color-link: #cc1100;
    --background-image: url('../images/mask_dark_upscaled.jpeg');
    --toggle-bg: #1c1c1c;
}

[data-theme="dark"] {
    --color-bg: #1C1C1C;
    --color-text: #EDDBC2;
    --color-link: #8B111E;
    --background-image: url('../images/masklight_upscaled.jpeg');
    --toggle-bg: #EDDBC2;
    /* --toggle-bg-light: #3e3e3e;
    --toggle-bg: #EDDBC2; */
}
@media (min-width:var(--screen-mid)) {
    :root {
        --page-margin: var(--page-margin-mid);
        --font-size: var(--font-size-mid)
    }
}

*,
:after,
:before {
    box-sizing: border-box
}

body,
html {
    padding: 0;
    margin: 0
}

.flex-spacer {
    flex: 1
}

.container--full {
    max-width: 60rem;
    margin: 0 auto
}

#theme-toggle {
    position: absolute;
    top: 30px;
    right: 30px;
    width: 30px;
    height: 30px;
    border: 2px solid var(--color-text);
    border-radius: 50%;
    background: transparent;
    border-color: var(--toggle-bg);
    cursor: pointer;
    transition: background 0.3s, border-color 0.3s;
}

#theme-toggle.dark-mode {
    border-color: var(--toggle-bg);
    /* background: var(--toggle-bg); */
}

#theme-toggle:focus {
    outline: none;
}
.intro-header {
    line-height: 3rem;
    line-height: calc(var(--ru)*2rem);
    font-size: 1.5rem;
    padding: calc(1.125rem - 1px) 0;
    padding: calc(var(--ru)*0.75rem - 1px) 0;
    border-top: 1px solid rgba(0, 0, 0, .25);
    border-bottom: 1px solid rgba(0, 0, 0, .25)
}

.intro-header ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center
}

.intro-header li {
    display: inline-block;
    padding: 0 1rem
}

.intro-header a {
    color: var(--color-body);
    font-family: system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif, BlinkMacSystemFont, Oxygen, Open Sans, Helvetica Neue;
    font-family: var(--font-secondary);
    text-decoration: none;
    font-weight: 600
}

.intro-header a span {
    position: relative;
    display: inline-block;
    padding: 0;
    transition: color 0.3s;
}

.intro-header a span::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 50%;
    height: 3px;
    background-color: var(--color-link);
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s;
}

.intro-header a:hover span::before {
    transform: scaleX(1);
}


@media (hover:hover) {
    .intro-header a:hover {
        text-decoration: underline
    }
}

/* .intro-header a:active,
.intro-header a:hover {
} */

@media (min-width:800px) {
    .intro-header {
        text-align: left;
        font-size: 1.25vw;
        padding: 0;
        border: none
    }
    .intro-header li:first-child {
        margin-left: -1rem
    }
}

.intro {
    display: flex;
    flex-direction: column
}

.intro__decor {
    display: none;
    order: 10
}

.intro__header {
    order: 1;
    text-align: center
}

.intro__header h1 {
    font-size: 3.8rem;
    line-height: 4.5rem;
    line-height: calc(var(--ru)*3rem);
    font-weight: 400;
    font-style: italic;
    margin: 0 0 3rem;
    margin: 0 0 calc(var(--ru)*2rem)
}

.intro__header strong {
    font-weight: 500
}

.intro .layout-spacer,
.intro__header h2 {
    display: none
}

.intro .intro-header {
    order: 2
}

.intro:after {
    content: "";
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 10rem;
    pointer-events: none;
    background: linear-gradient(180deg, transparent, #fff5f5 100%);
    background: linear-gradient(180deg, transparent, var(--color-bg) 100%)
}

@media (min-width:430px) {
    .intro__header h1 {
        font-size: 8rem;
        line-height: 9rem;
        line-height: calc(var(--ru)*6rem)
    }
}

@media (min-width:800px) {
    .intro {
        align-items: stretch;
        height: calc(100vh - 6rem);
        height: calc(100vh - var(--page-margin)*2);
        overflow: hidden;
    }
    .intro__decor {
        display: block;
        width: calc(40vw - 6rem);
        width: calc(40vw - var(--page-margin)*2);
        height: calc(100% - 10vh);
        position: absolute;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
        right: 3rem;
        right: var(--page-margin);
        bottom: calc(3rem - 5%);
        bottom: calc(var(--page-margin) - 5%);
        background: var(--background-image);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: 100% 100%
    }
    .intro__header {
        order: 1;
        text-align: left;
        position: relative
    }
    .intro__header h1 {
        font-size: 8vw;
        font-weight: 500;
        margin: 0 0 .25em;
        line-height: 1em
    }
    .intro__header h1 br {
        display: none
    }
    .intro__header h2 {
        opacity: .5;
        display: block;
        font-size: 2vw;
        margin: 0;
        padding: 0;
        position: absolute;
        top: 7vw;
        left: 36.5vw;
        font-weight: 200;
        font-style: italic
    }
    .intro .intro-header {
        order: 4;
        position: absolute;
        bottom: 3rem;
        bottom: var(--page-margin)
    }
    .intro:after {
        display: none
    }
}

.intro-content {
    order: 3
}

.intro-content a {
    font-weight: 600;
    font-style: italic;
    color: #3e3e3e;
    color: var(--color-text)
}

.intro-content a:active,
.intro-content a:hover {
    color: #D10202;
    color: var(--color-link)
}

.intro-content p {
    font-size: 2rem;
    margin: 3rem 0;
    margin: calc(var(--ru)*2rem) 0;
    line-height: 3rem;
    line-height: calc(var(--ru)*2rem)
}

.intro-content p:last-child br {
    display: none
}

.intro-content h2 {
    font-size: 2.5rem;
    margin: 3rem 0;
    margin: calc(var(--ru)*2rem) 0;
    line-height: 3rem;
    line-height: calc(var(--ru)*2rem);
    font-weight: inherit;
    font-style: italic
}

.intro-content hr {
    padding: 0;
    margin: 0;
    text-align: center;
    border: none;
    font-size: 3rem;
    line-height: 4.5rem;
    line-height: calc(var(--ru)*3rem);
    height: 4.5rem;
    height: calc(var(--ru)*3rem)
}

.intro-content hr:after {
    content: "☘︎"
}

@media (min-width:430px) {
    .intro-content p {
        font-size: 2.5rem;
        line-height: 3.75rem;
        line-height: calc(var(--ru)*2.5rem)
    }
    .intro-content h2 {
        font-size: 4rem;
        margin: 3rem 0;
        margin: calc(var(--ru)*2rem) 0;
        line-height: 4.5rem;
        line-height: calc(var(--ru)*3rem);
        font-weight: inherit;
        font-style: italic
    }
}

@media (min-width:800px) {
    .intro-content {
        order: 2;
        max-width: 60vw
    }
    .intro-content h2 {
        font-size: 3.5vw;
        font-weight: inherit;
        font-style: italic;
        line-height: 1
    }
    .intro-content p {
        font-size: 1.75vw;
        line-height: 1.5;
        line-height: var(--ru);
        margin: .75em 0;
        margin: calc(var(--ru)*0.5em) 0
    }
    .intro-content p:last-child br {
        display: block
    }
    .intro-content hr {
        display: none
    }
}

/* .blog-header {
    line-height: 3rem;
    line-height: calc(var(--ru)*2rem);
    font-size: 1.25rem;
    padding: 0;
    margin-bottom: 3rem;
    margin-bottom: calc(var(--ru)*2rem)
}

.blog-header__logo {
    display: block;
    height: 3rem;
    width: 5rem;
    background: url(/images/logo.png);
    background-size: 100%;
    background-repeat: no-repeat;
    opacity: .9
}

.blog-header a {
    color: var(--color-body);
    font-family: system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif, BlinkMacSystemFont, Oxygen, Open Sans, Helvetica Neue;
    font-family: var(--font-secondary);
    text-decoration: none;
    font-weight: 600
}

@media (hover:hover) {
    .blog-header a:hover {
        text-decoration: underline
    }
}

.blog-header a:active,
.blog-header a:hover {
    color: #e00202;
    color: var(--color-link)
}

.blog-header ul {
    list-style: none;
    margin: 0;
    padding: 0
}

@media (max-width:430px) {
    .blog-header {
        position: sticky;
        top: 0;
        margin-left: -3rem;
        margin-right: -3rem;
        margin-left: calc(var(--page-margin)*-1);
        margin-right: calc(var(--page-margin)*-1);
        padding: 0 3rem;
        padding: 0 var(--page-margin);
        z-index: 10;
        background-color: #fff5f5;
        background-color: var(--color-bg);
        display: flex;
        flex-direction: row;
        justify-content: space-between
    }
    .blog-header:after {
        content: "";
        position: absolute;
        display: block;
        left: 0;
        right: 0;
        bottom: -2rem;
        height: 2rem;
        background-image: linear-gradient(180deg, #fff5f5 0, hsla(0, 100%, 98%, .971) 9.2%, hsla(0, 100%, 98%, .927) 17.4%, hsla(0, 100%, 98%, .869) 24.7%, hsla(0, 100%, 98%, .8) 31.3%, hsla(0, 100%, 98%, .723) 37.3%, hsla(0, 100%, 98%, .639) 42.8%, hsla(0, 100%, 98%, .552) 48.1%, hsla(0, 100%, 98%, .463) 53.3%, hsla(0, 100%, 98%, .375) 58.6%, hsla(0, 100%, 98%, .29) 64.1%, hsla(0, 100%, 98%, .211) 69.9%, hsla(0, 100%, 98%, .14) 76.3%, hsla(0, 100%, 98%, .08) 83.3%, hsla(0, 100%, 98%, .032) 91.1%, hsla(0, 100%, 98%, 0))
    }
    .blog-header nav {
        font-size: 2rem;
        line-height: 2;
        list-style: none;
        margin: 0;
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        padding: 3rem;
        padding: var(--page-margin);
        background-color: #fff5f5;
        background-color: var(--color-bg);
        display: grid;
        align-content: center;
        justify-content: center;
        place-content: center;
        align-items: center;
        justify-items: center;
        place-items: center;
        grid-gap: 1rem;
        gap: 1rem;
        z-index: 10;
        opacity: 0;
        visibility: hidden;
        transition: opacity .2s ease-in-out, visibility .2s ease-in-out
    }
    .blog-header nav .blog-header__logo {
        position: absolute;
        top: 3rem;
        top: var(--page-margin);
        left: 3rem;
        left: var(--page-margin)
    }
    .blog-header nav ul {
        display: flex;
        flex-direction: column;
        grid-gap: 1rem;
        gap: 1rem;
        align-items: center
    }
    .blog-header.is-visible nav {
        opacity: 1;
        visibility: visible
    }
    .blog-header .blog-header__menu {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: hsla(0, 100%, 98%, .9);
        background-color: var(--color-bg-fade);
        -webkit-backdrop-filter: blur(1px);
        backdrop-filter: blur(1px);
        display: grid;
        grid-template-rows: 3rem repeat(auto-fit, minmax(min-content, 1fr)) 3rem;
        align-content: center;
        justify-items: center;
        grid-gap: 1rem;
        gap: 1rem;
        z-index: 10
    }
    .blog-header .hide-menu {
        position: absolute;
        bottom: 3rem;
        bottom: var(--page-margin);
        right: 3rem;
        right: var(--page-margin);
        color: inherit;
        border: none;
        background: none;
        padding: 0;
        margin: 0;
        font-size: 3rem;
        display: inline-block;
        width: 3rem;
        height: 3rem;
        line-height: 3rem;
        cursor: pointer
    }
    .blog-header .hide-menu:after {
        content: "×"
    }
    .blog-header .show-menu {
        display: inline-block;
        background: none;
        border: none;
        font-size: 2rem;
        padding: 0;
        color: inherit;
        font-style: italic;
        font-weight: 600
    }
}

@media (min-width:430px) {
    .blog-header {
        max-width: 80rem;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between
    }
    .blog-header__logo a {
        height: 4rem;
        width: 8rem
    }
    .blog-header nav {
        justify-content: flex-end
    }
    .blog-header nav,
    .blog-header nav ul {
        display: flex;
        flex-direction: row;
        align-items: center;
        grid-gap: 1rem;
        gap: 1rem
    }
    .blog-header nav li a {
        padding-left: 1rem;
        padding-right: 1rem
    }
    .blog-header .hide-menu,
    .blog-header .show-menu,
    nav .blog-header__logo {
        display: none
    }
}

.listing {
    --listing-width: 40rem;
    text-align: center
}

.listing ul {
    margin: 0 auto 3rem;
    margin: 0 auto calc(var(--ru)*2rem);
    padding: 0;
    list-style: none;
    max-width: var(--listing-width)
}

.listing h1 {
    font-size: 4rem;
    line-height: 6rem;
    line-height: calc(var(--ru)*4rem);
    margin: 0 0 3rem;
    margin: 0 0 calc(var(--ru)*2rem);
    font-weight: 600;
    text-align: center
}

.listing__intro {
    font-weight: 400;
    padding: 3rem 0;
    padding: calc(var(--ru)*2rem) 0;
    text-align: center;
    display: block;
    border-top: 1px solid rgba(62, 62, 62, .53333);
    border-top: 1px solid var(--color-text-fade);
    border-bottom: 1px solid rgba(62, 62, 62, .53333);
    border-bottom: 1px solid var(--color-text-fade);
    position: relative;
    background-color: #fff5f5;
    background-color: var(--color-bg);
    color: #3e3e3e;
    color: var(--color-text);
    font-size: 1.5rem;
    line-height: 2.25rem;
    line-height: calc(var(--ru)*1.5rem);
    margin: 3rem 0 4.5rem;
    margin: calc(var(--ru)*2rem) 0 calc(var(--ru)*3rem)
}

.listing__intro:after {
    content: "";
    background: #fff5f5 url(/images/janusz_separator.png);
    background: var(--color-bg) url(/images/janusz_separator.png);
    background-size: cover;
    width: 4rem;
    height: 4rem;
    display: block;
    position: absolute;
    padding: 0 .25rem;
    top: -1.965rem;
    top: calc(var(--ru)*-1.31rem);
    left: 50%;
    transform: translateX(-50%);
    font-style: normal
}

.listing__intro a {
    color: #3e3e3e;
    color: var(--color-text);
    font-weight: 600;
    font-style: italic
}

.listing__post {
    margin-bottom: 3rem;
    margin-bottom: calc(var(--ru)*2rem);
    text-align: left;
    overflow: visible
}

.listing__post-link {
    font-size: 3rem;
    line-height: 3rem;
    line-height: calc(var(--ru)*2rem);
    color: #3e3e3e;
    color: var(--color-text);
    display: block;
    word-break: break-word;
    text-decoration: none;
    font-weight: 600
}

.listing__post-link:active,
.listing__post-link:hover {
    color: #e00202;
    color: var(--color-link)
}

.listing__post-time {
    font-size: 1.5rem;
    line-height: 3rem;
    line-height: calc(var(--ru)*2rem);
    opacity: .6;
    font-family: system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif, BlinkMacSystemFont, Oxygen, Open Sans, Helvetica Neue;
    font-family: var(--font-secondary)
}

.listing hr {
    padding: 0;
    margin: 0;
    text-align: center;
    border: none;
    font-size: 3rem;
    line-height: 4.5rem;
    line-height: calc(var(--ru)*3rem);
    height: 4.5rem;
    height: calc(var(--ru)*3rem)
}

.listing hr:after {
    content: "❦"
}

@media (min-width:430px) {
    .listing {
        text-align: left;
        max-width: var(--listing-width);
        margin: 0 auto
    }
    .listing--wide {
        --listing-width: 50rem
    }
    .listing h1 {
        font-size: 8rem;
        line-height: 15rem;
        line-height: calc(var(--ru)*10rem);
        text-align: center
    }
    .listing ul {
        margin: 0 0 6rem;
        margin: 0 0 calc(var(--ru)*4rem)
    }
}

.post__header {
    text-align: center;
    margin-top: 4.5rem;
    margin-top: calc(var(--ru)*3rem)
}

.post__header img {
    width: 100%;
    height: auto
}

@media (min-width:430px) {
    .post__header {
        margin-top: 6rem;
        margin-top: calc(var(--ru)*4rem)
    }
}

.post__title {
    font-size: 4rem;
    font-weight: 500;
    line-height: 4.5rem;
    line-height: calc(var(--ru)*3rem);
    margin: 0 0 4.5rem;
    margin: 0 0 calc(var(--ru)*3rem);
    font-style: italic
}

@media (min-width:430px) {
    .post__title {
        font-size: 6rem;
        font-weight: 500;
        line-height: 6rem;
        line-height: calc(var(--ru)*4rem);
        margin: 0 0 6rem;
        margin: 0 0 calc(var(--ru)*4rem)
    }
}

.post__time {
    font-size: 2rem
}

.post__cta,
.post__time {
    line-height: 3rem;
    line-height: calc(var(--ru)*2rem)
}

.post__cta {
    font-size: 3rem;
    font-weight: 500;
    margin: 3rem 0;
    margin: calc(var(--ru)*2rem) 0;
    padding: 3rem;
    padding: calc(var(--ru)*2rem);
    text-align: center;
    display: block;
    border: 1px solid rgba(62, 62, 62, .53333);
    border: 1px solid var(--color-text-fade);
    position: relative
}

.post__cta:after {
    background: #fff5f5;
    background: var(--color-bg);
    color: #e00202;
    color: var(--color-link);
    content: "❦";
    position: absolute;
    top: -1.5rem;
    top: calc(var(--ru)*-1rem);
    left: 50%;
    transform: translateX(-50%);
    font-style: normal
}

.post__tip-jar {
    padding: 3rem;
    padding: calc(var(--ru)*2rem);
    text-align: center;
    display: block;
    border: 1px solid rgba(62, 62, 62, .53333);
    border: 1px solid var(--color-text-fade);
    position: relative
}

.post__tip-jar:after {
    font-size: 3rem;
    background: #fff5f5;
    background: var(--color-bg);
    color: #e00202;
    color: var(--color-link);
    content: "❦";
    position: absolute;
    top: -2.25rem;
    top: calc(var(--ru)*-1.5rem);
    left: 50%;
    transform: translateX(-50%);
    font-style: normal
}

.post__content p {
    font-size: 2rem;
    line-height: 3rem;
    line-height: calc(var(--ru)*2rem);
    margin: 1.5rem 0;
    margin: calc(var(--ru)*1rem) 0
}

.post__content p.small {
    font-size: 1.5rem;
    line-height: 1.5rem;
    line-height: calc(var(--ru)*1rem)
}

.post__content a {
    color: #3e3e3e;
    color: var(--color-text);
    font-weight: 600
}

.post__content a:active,
.post__content a:hover {
    color: #e00202;
    color: var(--color-link)
}

.post__content a:not(.footnote):not(.footnotes__ref):not(.footnotes__back-link) {
    font-style: italic
}

.post__content a.footnotes__ref {
    text-decoration: none;
    font-weight: 600
}

.post__content a.footnote {
    vertical-align: super;
    font-size: .75em;
    text-decoration: none
}

.post__content a.footnote:before {
    content: "["
}

.post__content a.footnote:after {
    content: "]"
}

.post__content h2 {
    font-size: 3rem
}

.post__content h2,
.post__content h3 {
    font-weight: 500;
    line-height: 3rem;
    line-height: calc(var(--ru)*2rem);
    margin: 3rem 0 1.5rem;
    margin: calc(var(--ru)*2rem) 0 calc(var(--ru)*1rem)
}

.post__content h3 {
    font-size: 2.5rem
}

.post__content img:not(.embed img):not(.embed video):not(figure img),
.post__content video:not(.embed img):not(.embed video):not(figure img) {
    vertical-align: bottom;
    margin: 0 0 0 -3rem;
    margin-left: calc(var(--page-margin)*-1);
    width: calc(100% + 6rem);
    width: calc(100% + var(--page-margin)*2);
    height: auto
}

.post__content .post__figure:not(.embed img):not(.embed video):not(.embed figure) {
    margin: 1.5rem 0;
    margin: calc(var(--ru)*1rem) 0;
    margin-left: -3rem;
    margin-left: calc(var(--page-margin)*-1);
    vertical-align: bottom;
    width: calc(100% + 6rem);
    width: calc(100% + var(--page-margin)*2);
    height: auto
}

.post__content .post__figure:not(.embed img):not(.embed video):not(.embed figure) img {
    margin: 0;
    width: 100%;
    height: auto
}

.post__content .post__figure:not(.embed img):not(.embed video):not(.embed figure) figcaption {
    text-align: center;
    margin: 1.5rem 0;
    margin: calc(var(--ru)*1rem) 0;
    font-size: 1.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    line-height: 1.5rem;
    line-height: calc(var(--ru)*1rem)
}

.post__content ol,
.post__content ul {
    padding: 0;
    font-size: 2rem;
    margin: 0 0 3rem;
    margin-bottom: calc(var(--ru)*2rem)
}

.post__content ul {
    list-style: none
}

.post__content ul li {
    position: relative
}

.post__content ul li:before {
    display: inline-block;
    width: 2rem;
    content: "–";
    margin-left: -2rem;
    opacity: .5
}

.post__content .post__quote,
.post__content>blockquote {
    margin: 3rem 0;
    margin: calc(var(--ru)*2rem) 0;
    font-style: italic
}

.post__content .post__quote p,
.post__content>blockquote p {
    font-size: 2.5rem;
    line-height: 3rem;
    line-height: calc(var(--ru)*2rem)
}

@media (min-width:430px) {
    .post__content .post__quote,
    .post__content>blockquote {
        margin-left: 4rem
    }
}

.post__content .post__quote blockquote {
    margin: 0
}

.post__content .post__quote figcaption {
    font-size: 2rem
}

.post__content cite {
    display: block;
    font-size: .75em
}

.post__content cite:before {
    content: "—"
}

.post__content hr {
    padding: 0;
    margin: 3rem 0;
    margin: calc(var(--ru)*2rem) 0;
    text-align: center;
    border: none;
    font-size: 3rem;
    line-height: 4.5rem;
    line-height: calc(var(--ru)*3rem);
    height: 4.5rem;
    height: calc(var(--ru)*3rem)
}

.post__content hr:after {
    content: "❦"
}

.post__content pre,
.post__content pre[class*=language-] {
    font-size: 1.25rem;
    line-height: 1.5rem;
    line-height: calc(var(--ru)*1rem);
    margin-left: -3rem;
    margin-left: calc(var(--page-margin)*-1);
    padding: 1.5rem;
    padding: calc(var(--ru)*1rem);
    border: none;
    border-radius: 0;
    width: calc(100% + 6rem);
    width: calc(100% + var(--page-margin)*2);
    overflow-x: auto
}

.post__content code:not(pre code) {
    font-size: .8em;
    font-weight: 600
}

.post__content details {
    display: inline
}

.post__content details:before {
    display: none
}

.post__content summary {
    display: inline
}

.post__content .color-swatch {
    padding: 0 .25em .1em;
    white-space: pre;
    --sbg: transparent
}

.post__content .color-swatch:before {
    content: "";
    width: 1em;
    height: 1em;
    display: inline-block;
    background: var(--sbg);
    border-radius: 100rem;
    position: relative;
    top: .2em;
    margin-right: .2em
}

.footnotes {
    --base-font-size: 1.5rem
}

.footnotes p {
    font-size: var(--base-font-size);
    line-height: 2.25rem;
    line-height: calc(var(--ru)*1.5rem);
    margin: .75rem 0;
    margin: calc(var(--ru)*0.5rem) 0
}

.footnotes a {
    color: #3e3e3e;
    color: var(--color-text);
    font-weight: 600
}

.footnotes a:active,
.footnotes a:hover {
    color: #e00202;
    color: var(--color-link)
}

.footnotes a:not(.footnote) {
    font-style: italic
}

.footnotes a.footnote {
    vertical-align: super;
    font-size: .75em;
    text-decoration: none
}

.footnotes a.footnote:before {
    content: "["
}

.footnotes a.footnote:after {
    content: "]"
}

.footnotes h2 {
    font-size: 3rem;
    font-weight: 500;
    line-height: 3rem;
    line-height: calc(var(--ru)*2rem);
    margin: 3rem 0 1.5rem;
    margin: calc(var(--ru)*2rem) 0 calc(var(--ru)*1rem)
}

.footnotes ol,
.footnotes ul {
    padding: 0;
    font-size: var(--base-font-size);
    line-height: 2.25rem;
    line-height: calc(var(--ru)*1.5rem);
    margin: 0 0 3rem;
    margin-bottom: calc(var(--ru)*2rem)
}

.footnotes ol li,
.footnotes ul li {
    margin-bottom: 1.5rem;
    margin-bottom: calc(var(--ru)*1rem);
    background: transparent;
    box-shadow: none;
    transition: background 1s, box-shadow 1s;
    border-radius: .25rem;
    word-break: break-word
}

.footnotes ol li:target,
.footnotes ul li:target {
    background: rgba(255, 193, 7, .36078);
    box-shadow: 0 0 0 .5rem rgba(255, 193, 7, .36078)
}

.footnotes ul {
    list-style: none
}

.footnotes ul li {
    position: relative
}

.footnotes ul li:before {
    display: inline-block;
    width: 2rem;
    content: "–";
    margin-left: -2rem;
    opacity: .5
}

.footnotes__ref {
    text-decoration: none;
    font-weight: 600
}

.footnotes__back-link {
    position: relative;
    top: .1rem;
    text-decoration: none;
    font-style: normal;
    opacity: .6;
    font-size: .75em
}

.footnotes__back-link:hover {
    opacity: 1
}

body {
    counter-reset: footnotes
}

[role=doc-noteref]:after {
    counter-increment: footnotes;
    content: "[" counter(footnotes) "]";
    vertical-align: super;
    font-size: .75em;
    text-decoration: none
}

.sharing {
    padding: 3rem;
    padding: calc(var(--ru)*2rem);
    text-align: center;
    display: block;
    border-top: 1px solid rgba(62, 62, 62, .53333);
    border-top: 1px solid var(--color-text-fade);
    border-bottom: 1px solid rgba(62, 62, 62, .53333);
    border-bottom: 1px solid var(--color-text-fade);
    position: relative;
    background-color: #fff5f5;
    background-color: var(--color-bg);
    color: #3e3e3e;
    color: var(--color-text);
    font-size: 2rem;
    line-height: 3rem;
    line-height: calc(var(--ru)*2rem);
    margin: 9rem 0 4.5rem;
    margin: calc(var(--ru)*6rem) 0 calc(var(--ru)*3rem)
}

.sharing:after {
    content: "";
    background: #fff5f5 url(/images/janusz_separator.png);
    background: var(--color-bg) url(/images/janusz_separator.png);
    background-size: cover;
    width: 4rem;
    height: 4rem;
    display: block;
    position: absolute;
    padding: 0 .25rem;
    top: -1.965rem;
    top: calc(var(--ru)*-1.31rem);
    left: 50%;
    transform: translateX(-50%);
    font-style: normal
}

.sharing a {
    color: #3e3e3e;
    color: var(--color-text);
    font-weight: 600;
    font-style: italic
}

.sharing h3 {
    font-size: 2.5rem;
    font-weight: 500;
    line-height: 3rem;
    line-height: calc(var(--ru)*2rem);
    margin: 0 0 1.5rem;
    margin: 0 0 calc(var(--ru)*1rem)
}

.sharing nav {
    font-size: 1.5rem;
    margin: 3rem 0 0;
    margin: calc(var(--ru)*2rem) 0 0
}

.post__nav {
    margin: 3rem 0;
    margin: calc(var(--ru)*2rem) 0;
    font-size: 1.5rem;
    text-align: center
}

.post__nav a {
    color: #3e3e3e;
    color: var(--color-text);
    font-weight: 600;
    font-style: italic
}

.note-card {
    --b: 1px dashed rgba(0, 0, 0, 0.1);
    margin-bottom: 7.5rem;
    margin-bottom: calc(var(--ru)*5rem);
    border: none;
    padding: 3rem 1rem 1rem;
    padding: calc(var(--ru)*2rem) 1rem 1rem;
    position: relative;
    transition: border-color .2s;
    background-color: #fff5f5;
    background-color: var(--color-bg)
}

.note-card p {
    font-size: 1.5rem;
    line-height: 2.25rem;
    line-height: calc(var(--ru)*1.5rem)
}

.note-card__share-button {
    --w: 3rem;
    border-radius: 100rem;
    content: "";
    font-size: 1rem;
    width: var(--w);
    height: var(--w);
    padding: 0;
    position: absolute;
    bottom: calc(var(--w)*-0.5);
    left: 50%;
    transform: translateX(-50%);
    border: var(--b);
    text-transform: uppercase;
    background: #fff5f5 url(/images/link-icon.svg);
    background: var(--color-bg) url(/images/link-icon.svg);
    background-repeat: no-repeat;
    background-size: 40%;
    background-position: 50%;
    transition: border-color .2s
}

.note-card:hover {
    --b: 1px solid var(--color-text)
}

.note-card__link-overlay {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    cursor: pointer
}

.note-card__header {
    width: 100%;
    position: absolute;
    padding: 0;
    top: -2rem;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center
}

.note-card__title {
    text-align: center;
    font-size: 2rem;
    padding: 0;
    line-height: 3rem;
    line-height: calc(var(--ru)*2rem);
    color: #3e3e3e;
    color: var(--color-text);
    background-color: #fff5f5;
    background-color: var(--color-bg);
    display: block;
    word-break: break-word;
    text-decoration: none;
    font-weight: 600;
    position: relative;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow-x: hidden;
    max-width: 90%
}

.note-card__title:active,
.note-card__title:hover {
    color: #e00202;
    color: var(--color-link)
}

@media (min-width:430px) {
    .note-card__title {
        font-size: 3rem;
        overflow: visible
    }
}

.note-card__time {
    text-align: left;
    display: block;
    font-size: 1rem;
    line-height: 1.5rem;
    line-height: calc(var(--ru)*1rem);
    opacity: .6;
    font-weight: 600;
    font-family: -apple-system, BlinkMacSystemFont, Arial, sans-serif
}

.note-card__preview {
    font-size: 1.5rem;
    line-height: 2.25rem;
    line-height: calc(var(--ru)*1.5rem);
    text-align: left;
    font-weight: 400
}

.note-card__preview img {
    max-width: 100%;
    height: auto;
    vertical-align: bottom
}

.note-card__preview picture {
    position: relative;
    left: -1rem;
    width: calc(100% + 2rem);
    right: -1rem;
    display: block;
    background-color: red
}

.note-card__preview pre[class*=language-] {
    font-size: 1rem;
    position: relative;
    left: -1rem;
    right: -1rem
}

.note-card__preview p:first-child {
    margin-top: 0
}

.note-card__preview a {
    color: #3e3e3e;
    color: var(--color-text);
    font-weight: 600;
    font-style: italic
}

.note-card__preview a:active,
.note-card__preview a:hover {
    color: #e00202;
    color: var(--color-link)
}

@media (min-width:430px) {
    .note-card__preview {
        font-size: 2rem;
        line-height: 3rem;
        line-height: calc(var(--ru)*2rem)
    }
}

.note-actions {
    display: flex
}

.note-actions a,
.note-actions button {
    margin: 0 1rem 0 0;
    color: inherit;
    text-decoration: none;
    font-size: .75rem;
    border: 1px solid #3e3e3e;
    border: 1px solid var(--color-text);
    background: transparent;
    padding: .5rem 1rem;
    font-family: -apple-system, BlinkMacSystemFont, Arial, sans-serif;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 600
}

.note-actions a:hover,
.note-actions button:hover {
    background-color: #3e3e3e;
    background-color: var(--color-text);
    color: #fff5f5;
    color: var(--color-bg)
}

.note-actions a:active,
.note-actions button:active {
    transform: scale(.9)
}

.page-projects {
    --max-width: 80rem
}

.page-projects__intro {
    text-align: center
}

.page-projects>h1 {
    font-size: 4rem;
    line-height: 6rem;
    line-height: calc(var(--ru)*4rem);
    margin: 0 0 3rem;
    margin: 0 0 calc(var(--ru)*2rem);
    font-weight: 600;
    text-align: center;
    text-wrap: balance
}

@media (min-width:430px) {
    .page-projects>h1 {
        font-size: 8rem;
        line-height: 15rem;
        line-height: calc(var(--ru)*10rem);
        text-align: center
    }
}

.page-projects>h2 {
    font-size: 3rem;
    line-height: 4.5rem;
    line-height: calc(var(--ru)*3rem);
    margin: 0 0 3rem;
    margin: 0 0 calc(var(--ru)*2rem);
    font-weight: 600;
    text-align: center;
    text-wrap: balance
}

@media (min-width:430px) {
    .page-projects>h2 {
        font-size: 6rem;
        line-height: 9rem;
        line-height: calc(var(--ru)*6rem);
        text-align: center
    }
}

.page-projects>p {
    font-size: 2rem;
    font-style: italic;
    line-height: 3rem;
    line-height: calc(var(--ru)*2rem);
    max-width: 50rem;
    margin: 1.5rem auto 6rem;
    margin: calc(var(--ru)*1rem) auto calc(var(--ru)*4rem)
}

.page-projects>p a {
    color: #3e3e3e;
    color: var(--color-text);
    font-weight: 600
}

.page-projects>p a:active,
.page-projects>p a:hover {
    color: #e00202;
    color: var(--color-link)
}

.page-projects>hr {
    padding: 0;
    margin: 0;
    text-align: center;
    border: none;
    font-size: 3rem;
    line-height: 4.5rem;
    line-height: calc(var(--ru)*3rem);
    height: 4.5rem;
    height: calc(var(--ru)*3rem)
}

.page-projects>hr:after {
    content: "❦"
}

.projects-list {
    margin: 0 auto;
    max-width: var(--max-width);
    padding: 0;
    list-style-type: none
}

@media (min-width:800px) {
    .projects-list {
        display: flex;
        flex-direction: column;
        align-items: start
    }
}

.projects-entry {
    margin-bottom: 7.5rem;
    margin-bottom: calc(var(--ru)*5rem)
}

.projects-entry h1 {
    margin: 0;
    font-size: 3rem;
    line-height: 3rem;
    line-height: calc(var(--ru)*2rem);
    font-weight: 500;
    text-align: center
}

@media (min-width:800px) {
    .projects-entry h1 {
        font-size: 6rem;
        line-height: 6rem;
        line-height: calc(var(--ru)*4rem)
    }
}

.projects-entry h1 a {
    color: #3e3e3e;
    color: var(--color-text);
    font-weight: 500;
    text-decoration: none
}

.projects-entry h1 a:active,
.projects-entry h1 a:hover {
    color: #e00202;
    color: var(--color-link)
}

.projects-entry time {
    font-size: 1.25rem;
    display: block;
    margin-bottom: 1.5rem;
    margin-bottom: calc(var(--ru)*1rem);
    opacity: .6;
    text-align: center;
    font-family: system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif, BlinkMacSystemFont, Oxygen, Open Sans, Helvetica Neue;
    font-family: var(--font-secondary)
}

.projects-entry__thumbnail {
    display: block;
    margin: 0 -3rem;
    margin: 0 calc(var(--page-margin)*-1);
    transition: transform .2s, opacity .2s
}

@media (min-width:800px) {
    .projects-entry__thumbnail {
        margin: 0
    }
}

.projects-entry__thumbnail:active {
    transform: scale(.98)
}

@media (hover:hover) {
    .projects-entry__thumbnail:hover {
        opacity: .8
    }
}

.projects-entry picture {
    display: block
}

.projects-entry img {
    max-width: 100%;
    height: auto;
    vertical-align: bottom;
    margin-bottom: 0
}

.projects-entry__content {
    margin-bottom: 3rem;
    margin-bottom: calc(var(--ru)*2rem)
}

@media (min-width:800px) {
    .projects-entry__content {
        max-width: 50rem;
        margin: 0 auto
    }
}

.projects-entry__content p {
    font-size: 1.5rem;
    line-height: 2.25rem;
    line-height: calc(var(--ru)*1.5rem);
    margin: 1.5rem 0;
    margin: calc(var(--ru)*1rem) 0
}

.projects-entry__content a {
    color: #3e3e3e;
    color: var(--color-text);
    font-weight: 500;
    text-decoration: none
}

.projects-entry__content a:active,
.projects-entry__content a:hover {
    color: #e00202;
    color: var(--color-link)
}

.projects-entry+.projects-entry {
    margin-top: 4.5rem;
    margin-top: calc(var(--ru)*3rem)
}

@media (min-width:800px) {
    .projects-entry+.projects-entry {
        margin-top: 0
    }
}

.projects-actions {
    display: flex;
    flex-wrap: wrap;
    grid-gap: 1rem;
    gap: 1rem
}

@media (min-width:800px) {
    .projects-actions {
        max-width: 50rem;
        margin: 0 auto
    }
}

.projects-actions__link {
    background: #3e3e3e;
    background: var(--color-text);
    border-radius: .25rem;
    color: #fff5f5;
    color: var(--color-bg);
    display: block;
    font-family: system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif, BlinkMacSystemFont, Oxygen, Open Sans, Helvetica Neue;
    font-family: var(--font-secondary);
    font-size: 1rem;
    font-weight: 600;
    line-height: 3rem;
    line-height: calc(var(--ru)*2rem);
    padding: 0 2rem;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    transition: transform .2s, opacity .2s
}

.projects-actions__link,
.projects-actions__link--secondary {
    border: 1px solid #3e3e3e;
    border: 1px solid var(--color-text)
}

.projects-actions__link--secondary {
    background: hsla(0, 0%, 100%, .6);
    color: #3e3e3e;
    color: var(--color-text)
}

.projects-actions__link--size-s {
    padding: 0 1.3rem;
    font-size: .9rem;
    line-height: 2.25rem;
    line-height: calc(var(--ru)*1.5rem)
}

.projects-actions__link:hover {
    opacity: .9;
    transform: scale(1.02)
}

.projects-actions__link:active {
    transform: scale(.98)
}

.projects-remaining-list {
    margin: 0 auto;
    max-width: 50rem;
    padding: 0;
    list-style-type: none;
    font-size: 1.5rem;
    line-height: 2.25rem;
    line-height: calc(var(--ru)*1.5rem)
}

.projects-remaining-list>li {
    margin-bottom: 4.5rem;
    margin-bottom: calc(var(--ru)*3rem)
}

.projects-remaining-list h1 {
    margin: 0;
    line-height: 1;
    font-size: 3rem;
    font-weight: 500;
    text-align: left;
    overflow: visible
}

.projects-remaining-list h1 a {
    color: #3e3e3e;
    color: var(--color-text);
    font-weight: 500;
    text-decoration: none
}

.projects-remaining-list h1 a:active,
.projects-remaining-list h1 a:hover {
    color: #e00202;
    color: var(--color-link)
}

.projects-remaining-list time {
    font-size: 1.5rem;
    line-height: 3rem;
    line-height: calc(var(--ru)*2rem);
    opacity: .6;
    font-family: system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif, BlinkMacSystemFont, Oxygen, Open Sans, Helvetica Neue;
    font-family: var(--font-secondary)
}

.projects-remaining-list p {
    margin: 1.5rem 0;
    margin: calc(var(--ru)*1rem) 0
}

.projects-remaining-list ol,
.projects-remaining-list ul {
    margin: 0 0 1.5rem;
    margin: 0 0 calc(var(--ru)*1rem);
    padding: 0
}

.projects-remaining-list ul {
    list-style: none
}

.projects-remaining-list ul li {
    position: relative
}

.projects-remaining-list ul li:before {
    display: inline-block;
    width: 2rem;
    content: "–";
    margin-left: -2rem;
    opacity: .5
}

.projects-remaining-list__content {
    margin: 0
}

.projects-remaining-list__content a {
    color: #3e3e3e;
    color: var(--color-text);
    font-weight: 500
}

.projects-remaining-list__content a:active,
.projects-remaining-list__content a:hover {
    color: #e00202;
    color: var(--color-link)
}

@media (min-width:800px) {
    .projects-remaining-list__content {
        max-width: 50rem;
        margin: 0 auto
    }
}

code[class*=language-],
pre[class*=language-] {
    background: #fff;
    color: #383a42;
    font-family: Fira Code, Fira Mono, Menlo, Consolas, DejaVu Sans Mono, monospace;
    direction: ltr;
    text-align: left;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    line-height: 1.5;
    -moz-tab-size: 2;
    -o-tab-size: 2;
    tab-size: 2;
    -webkit-hyphens: none;
    hyphens: none
}

code[class*=language-]::-moz-selection,
code[class*=language-] ::-moz-selection,
pre[class*=language-] ::-moz-selection {
    background: #e5e5e6;
    color: inherit
}

code[class*=language-]::selection,
code[class*=language-] ::selection,
pre[class*=language-] ::selection {
    background: #e5e5e6;
    color: inherit
}

pre[class*=language-] {
    padding: 1em;
    margin: .5em 0;
    overflow: auto;
    border-radius: .3em
}

:not(pre)>code[class*=language-] {
    padding: .2em .3em;
    border-radius: .3em;
    white-space: normal
}

.token.cdata,
.token.comment,
.token.prolog {
    color: #a0a1a7
}

.token.doctype,
.token.entity,
.token.punctuation {
    color: #383a42
}

.token.atrule,
.token.attr-name,
.token.boolean,
.token.class-name,
.token.constant,
.token.number {
    color: #b76b01
}

.token.keyword {
    color: #a626a4
}

.token.deleted,
.token.important,
.token.property,
.token.symbol,
.token.tag {
    color: #e45649
}

.token.attr-value,
.token.attr-value>.token.punctuation,
.token.builtin,
.token.char,
.token.inserted,
.token.regex,
.token.selector,
.token.string {
    color: #50a14f
}

.token.function,
.token.operator,
.token.variable {
    color: #4078f2
}

.token.url {
    color: #0184bc
}

.token.attr-value>.token.punctuation.attr-equals,
.token.special-attr>.token.attr-value>.token.value.css {
    color: #383a42
}

.language-css .token.selector {
    color: #e45649
}

.language-css .token.property {
    color: #383a42
}

.language-css .token.function,
.language-css .token.url>.token.function {
    color: #0184bc
}

.language-css .token.url>.token.string.url {
    color: #50a14f
}

.language-css .token.atrule .token.rule,
.language-css .token.important,
.language-javascript .token.operator {
    color: #a626a4
}

.language-javascript .token.template-string>.token.interpolation>.token.interpolation-punctuation.punctuation {
    color: #ca1243
}

.language-json .token.operator {
    color: #383a42
}

.language-json .token.null.keyword {
    color: #b76b01
}

.language-markdown .token.url,
.language-markdown .token.url-reference.url>.token.string,
.language-markdown .token.url>.token.operator {
    color: #383a42
}

.language-markdown .token.url>.token.content {
    color: #4078f2
}

.language-markdown .token.url-reference.url,
.language-markdown .token.url>.token.url {
    color: #0184bc
}

.language-markdown .token.blockquote.punctuation,
.language-markdown .token.hr.punctuation {
    color: #a0a1a7;
    font-style: italic
}

.language-markdown .token.code-snippet {
    color: #50a14f
}

.language-markdown .token.bold .token.content {
    color: #b76b01
}

.language-markdown .token.italic .token.content {
    color: #a626a4
}

.language-markdown .token.list.punctuation,
.language-markdown .token.strike .token.content,
.language-markdown .token.strike .token.punctuation,
.language-markdown .token.title.important>.token.punctuation {
    color: #e45649
}

.token.bold {
    font-weight: 700
}

.token.comment,
.token.italic {
    font-style: italic
}

.token.entity {
    cursor: help
}

.token.namespace {
    opacity: .8
}

.token.token.cr:before,
.token.token.lf:before,
.token.token.space:before,
.token.token.tab:not(:empty):before {
    color: rgba(56, 58, 66, .2)
}

div.code-toolbar>.toolbar.toolbar>.toolbar-item {
    margin-right: .4em
}

div.code-toolbar>.toolbar.toolbar>.toolbar-item>a,
div.code-toolbar>.toolbar.toolbar>.toolbar-item>button,
div.code-toolbar>.toolbar.toolbar>.toolbar-item>span {
    background: #e5e5e6;
    color: #696c77;
    padding: .1em .4em;
    border-radius: .3em
}

div.code-toolbar>.toolbar.toolbar>.toolbar-item>a:focus,
div.code-toolbar>.toolbar.toolbar>.toolbar-item>a:hover,
div.code-toolbar>.toolbar.toolbar>.toolbar-item>button:focus,
div.code-toolbar>.toolbar.toolbar>.toolbar-item>button:hover,
div.code-toolbar>.toolbar.toolbar>.toolbar-item>span:focus,
div.code-toolbar>.toolbar.toolbar>.toolbar-item>span:hover {
    background: #c6c7c7;
    color: #383a42
}

.line-highlight.line-highlight {
    background: rgba(56, 58, 66, .05)
}

.line-highlight.line-highlight:before,
.line-highlight.line-highlight[data-end]:after {
    background: #e5e5e6;
    color: #383a42;
    padding: .1em .6em;
    border-radius: .3em;
    box-shadow: 0 2px 0 0 rgba(0, 0, 0, .2)
}

pre[id].linkable-line-numbers.linkable-line-numbers span.line-numbers-rows>span:hover:before {
    background-color: rgba(56, 58, 66, .05)
}

.command-line .command-line-prompt,
.line-numbers.line-numbers .line-numbers-rows {
    border-right-color: rgba(56, 58, 66, .2)
}

.command-line .command-line-prompt>span:before,
.line-numbers .line-numbers-rows>span:before {
    color: #9d9d9f
}

.rainbow-braces .token.token.punctuation.brace-level-1,
.rainbow-braces .token.token.punctuation.brace-level-5,
.rainbow-braces .token.token.punctuation.brace-level-9 {
    color: #e45649
}

.rainbow-braces .token.token.punctuation.brace-level-2,
.rainbow-braces .token.token.punctuation.brace-level-6,
.rainbow-braces .token.token.punctuation.brace-level-10 {
    color: #50a14f
}

.rainbow-braces .token.token.punctuation.brace-level-3,
.rainbow-braces .token.token.punctuation.brace-level-7,
.rainbow-braces .token.token.punctuation.brace-level-11 {
    color: #4078f2
}

.rainbow-braces .token.token.punctuation.brace-level-4,
.rainbow-braces .token.token.punctuation.brace-level-8,
.rainbow-braces .token.token.punctuation.brace-level-12 {
    color: #a626a4
}

pre.diff-highlight>code .token.token.deleted:not(.prefix),
pre>code.diff-highlight .token.token.deleted:not(.prefix) {
    background-color: rgba(255, 82, 102, .15)
}

pre.diff-highlight>code .token.token.deleted:not(.prefix)::-moz-selection,
pre.diff-highlight>code .token.token.deleted:not(.prefix) ::-moz-selection,
pre>code.diff-highlight .token.token.deleted:not(.prefix)::-moz-selection,
pre>code.diff-highlight .token.token.deleted:not(.prefix) ::-moz-selection {
    background-color: rgba(251, 86, 105, .25)
}

pre.diff-highlight>code .token.token.deleted:not(.prefix)::selection,
pre.diff-highlight>code .token.token.deleted:not(.prefix) ::selection,
pre>code.diff-highlight .token.token.deleted:not(.prefix)::selection,
pre>code.diff-highlight .token.token.deleted:not(.prefix) ::selection {
    background-color: rgba(251, 86, 105, .25)
}

pre.diff-highlight>code .token.token.inserted:not(.prefix),
pre>code.diff-highlight .token.token.inserted:not(.prefix) {
    background-color: rgba(26, 255, 91, .15)
}

pre.diff-highlight>code .token.token.inserted:not(.prefix)::-moz-selection,
pre.diff-highlight>code .token.token.inserted:not(.prefix) ::-moz-selection,
pre>code.diff-highlight .token.token.inserted:not(.prefix)::-moz-selection,
pre>code.diff-highlight .token.token.inserted:not(.prefix) ::-moz-selection {
    background-color: rgba(57, 224, 98, .25)
}

pre.diff-highlight>code .token.token.inserted:not(.prefix)::selection,
pre.diff-highlight>code .token.token.inserted:not(.prefix) ::selection,
pre>code.diff-highlight .token.token.inserted:not(.prefix)::selection,
pre>code.diff-highlight .token.token.inserted:not(.prefix) ::selection {
    background-color: rgba(57, 224, 98, .25)
}

.prism-previewer-gradient.prism-previewer-gradient div,
.prism-previewer.prism-previewer:before {
    border-color: hsl(0, 0, 95%)
}

.prism-previewer-color.prism-previewer-color:before,
.prism-previewer-easing.prism-previewer-easing:before,
.prism-previewer-gradient.prism-previewer-gradient div {
    border-radius: .3em
}

.prism-previewer.prism-previewer:after {
    border-top-color: hsl(0, 0, 95%)
}

.prism-previewer-flipped.prism-previewer-flipped.after {
    border-bottom-color: hsl(0, 0, 95%)
}

.prism-previewer-angle.prism-previewer-angle:before,
.prism-previewer-easing.prism-previewer-easing,
.prism-previewer-time.prism-previewer-time:before {
    background: #fff
}

.prism-previewer-angle.prism-previewer-angle circle,
.prism-previewer-time.prism-previewer-time circle {
    stroke: #383a42;
    stroke-opacity: 1
}

.prism-previewer-easing.prism-previewer-easing circle,
.prism-previewer-easing.prism-previewer-easing line,
.prism-previewer-easing.prism-previewer-easing path {
    stroke: #383a42
}

.prism-previewer-easing.prism-previewer-easing circle {
    fill: transparent
} */

html {
    font-size: 12px;
    font-size: var(--font-size);
    line-height: 1.5;
    line-height: var(--ru)
}

body,
html {
    background-color: #fff5f5;
    background-color: var(--color-bg)
}

body {
    font-family: EB Garamond, serif;
    font-family: var(--font-body);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: geometricPrecision;
    color: #3e3e3e;
    color: var(--color-text)
}

main {
    min-height: 100vh
}

.wrapper {
    padding: 3rem;
    padding: var(--page-margin)
}

@media (min-width:400px) {
    .wrapper {
        --page-margin: var(--page-margin-mid)
    }
}

::-moz-selection {
    color: #fff5f5;
    color: var(--color-bg);
    background: #3e3e3e;
    background: var(--color-text)
}

::selection {
    color: #fff5f5;
    color: var(--color-bg);
    background: #3e3e3e;
    background: var(--color-text)
}
